# First, ignore everything
*
!.gitignore
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!*.sv
!*.bdf
db/ip/sld6dfc5e3d/submodules/alt_sld_fab_alt_sld_fab_ident.sv
db/ip/sld6dfc5e3d/submodules/alt_sld_fab_alt_sld_fab_presplit.sv
db/ip/sld6dfc5e3d/submodules/alt_sld_fab_alt_sld_fab_splitter.sv
